* {
    --primary-color: rgb(255, 0, 0); /* a light shade of pink */
    --secondary-color: rgb(0, 0, 255); /* a light shade of peach */
    --tertiary-color: rgb(0, 255, 0); /* a light shade of blue */
    font-family: monospace;
}

/* svg main container  */
#svg-container {
    width: 500px;
    height: 500px;
    background-color: rgb(149, 205, 205);
    opacity: 1;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}

/* all circle elements */
#circle1 {
    /* stroke: black; */
    /* stroke-width: 1; */
    fill: var(--primary-color);
    opacity: 0.6;    
}

circle {
    background-color: blue;
}

#logger {
    color: black;
    border: 1px solid black;
    width: 200px;
    padding: 10px;

}


