:root {
  /* CSS HEX */
  --royal-blue-web-color: #4169e1ff;
  --aquamarine: #47e5bcff;
  --tiffany-blue: #81e4daff;
  --columbia-blue: #aecfdfff;
  --coquelicot: #f15327;
}

.main-app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }



button {
  background-color: var(--coquelicot);
  padding: 5px;
  margin: 20px;
}

#add-circle {
  color: var(--royal-blue-web-color);
}
#remove-circle {
  color: var(--royal-blue-web-color);
}
#save-data {
  color: var(--royal-blue-web-color);
}

h2 {
    background-color: aliceblue;
}