@import "../index.css";

* {
  font-size: 25px;
}

.welcome-text {
  font-size: larger;
  color: #47E5BC;
  font-weight: bold;
}

.App {
  background-color: #F15025;
}

.App-logo {
  opacity: 0.99;
  border-radius: 250px;
  border-style: outset;
  border-width: 5px;
}


.nav {
    background-color: #4169e1;
    display: flex;
    flex-direction: column;
}

#nav-list {
    list-style-type: none;
    margin: 5px;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .nav li {
    color: #47E5BC;
    margin-right: 10px;
    cursor: pointer;
    padding-top: 20px;
    margin: 10px;

  }

  .nav li:hover {
    /* background-color: var(--neutral); */
    color: #F15025;
    border-radius: 5%;
    /* padding: 15px; */

  }
  
  .nav li:active {
    color: var(--darker);
    background-color: var(--lighter);
    font-weight:600;
    border-radius: 5%;
  }
  

  @media (max-width: 768px) {
    #nav-list {
      display: flex;
      flex-direction: column;
    }
  }

  