@import "../index.css";

* {
  font-size: 25px;
}

.library-container {
  padding: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: var(--coquelicot);
}

button:hover {
  background-color: var(--royal-blue-web-color);
  color: white;
}

.library-li {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  padding: 15px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 10px 10px rgb(56, 105, 89);
}

#library-poly-id {
  padding-left: 5px;
  padding-right: 20px;
}

.library-load {
  background-color: rgb(56, 105, 89);
  width: 100px;
}

.library-load:hover {
  background-color: rgb(69, 96, 231);
  width: 100px;
}

#library-refresh-button {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: cornflowerblue;
  font-size: 20px;
  padding: 10px;
}

#library-refresh-button:hover {
  border-style: dashed;
  background-color: var(--coquelicot);
}

.lib-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  font-size: 20px;
  border-radius: 8px;
}

.library-delete {
  background-color: rgb(56, 105, 89);
  width: 100px;
  font-size: 15px;
}

.library-delete:hover {
  background-color: rgb(167, 57, 53);
  width: 100px;
  font-size: 15px;
}

  @media (max-width: 768px) {
    #nav-list {
      display: flex;
      flex-direction: column;
    }
    .library-li {
      display: flex;
      flex-direction: column;
    }
  }

  