@import "../index.css";

* {
  font-size: 25px;
}

.library-container {
  padding: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: var(--coquelicot);
}

button:hover {
  background-color: var(--royal-blue-web-color);
  color: white;
}

  @media (max-width: 768px) {
    #nav-list {
      display: flex;
      flex-direction: column;
    }
  }

  