:root {
  /* CSS HEX */
  --royal-blue-web-color: #4169e1ff;
  --aquamarine: #47e5bcff;
  --tiffany-blue: #81e4daff;
  --columbia-blue: #aecfdfff;
  --coquelicot: #f15025ff;
}

.login-container {
  padding: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}


.form-element {
  padding: 10px;
}

.form-control {
  margin: 5px;
}

  @media (max-width: 768px) {
    #nav-list {
      display: flex;
      flex-direction: column;
    }
  }

  