:root {
  /* CSS HEX */
  --royal-blue-web-color: #4169e1ff;
  --aquamarine: #47e5bcff;
  --tiffany-blue: #81e4daff;
  --columbia-blue: #aecfdfff;
  --coquelicot: #f15025ff;
}

a {
  text-decoration: none;
  color: white;
 }

.nav {
    background-color: #4169e1;
    display: flex;
    flex-direction: column;
 }

#home-image {
  width: 200px;
}

#nav-list {
    list-style-type: none;
    margin: 5px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

.nav li a {
  transition-duration: 0.4s;

}

.nav li a:hover {
    /* background-color: var(--neutral); */
    color: #F15025;
    border-radius: 5%;
    /* padding: 15px; */

  }
  
.nav li a:active {
    color: var(--darker);
    background-color: var(--lighter);
    border-radius: 5%;
  }
  

@media (max-width: 768px) {
    #nav-list {
      display: flex;
      flex-direction: column;
      list-style-type: none;
      margin: 0px;
      padding: 1px;
      font-size: smaller;
    }
    .nav-item {
      font-size: 20px;
      padding: 0px;
      margin: 0px;
    }
    #home-image {
      height: 40px;
      width: 80px;
    }
  }

  